{% extends "base.html" %}
{% load static %}

{% block title %}Drunk Ninja{% endblock title %}

{% block head %}
        <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
<header>
        {% include "navbar.html" %}
</header>

<main>
        <nav class="cards">
                <ul class="product-list">
                        {% for category in categories %}
                                <li>
                                        <a class="card-link" href="#" title="Ir a {{ category.name }}">
                                                 <img src="{{ category.image.url }}" alt="{{ category.name }} Image">
                                                 <div class="product-text">
                                                        {{ category.name }}
                                                 </div>
                                        </a>
                                </li>
                        {% endfor %}
                </ul>
        </nav>

        <section class="suggested-drinks">
                <h1 class="suggedted-text">Top Ventas</h1>
        </section>
</main>

{% endblock content %}
