{% extends "base.html" %}

{% block title %}Drunk Ninja{% endblock %}

{% block content %}
<main>
        <nav class="cards">
                <ul>
                        <li><a href="cerveza.html" class="card-link category-accion"> Cerveza</a></li>
                        <li><a href="whisky.html" class="card-link category-aventura">Whisky</a></li>
                        <li><a href="pisco.html" class="card-link category-terror">Pisco</a></li>
                        <li><a href="ron.html" class="card-link category-carreras">Ron</a></li>
                        <li><a href="vodka.html" class="card-link category-supervivencia">Vodka</a></li>
                </ul>
        </nav>

        <section class="suggested-drinks">
                <h1 class="suggedted-text">Top Ventas</h1>
        </section>
</main>

{% endblock %}
