{% extends "base.html" %}

{% block content %}
<main class="container banner-bg">
        <div class="row min-vh-100 justify-content-center align-items-center">
                <form method="post" class="row glass-container g-3 p-5">
                        <h2 class="text-center text-bold">Recuperar Contraseña</h2>
                        {% csrf_token %}
                        {% for field in form %}
                                {{ field.label_tag }} 
                                {{ field }}
                                {% if field.errors %}
                                        <small class="error">{{ field.errors|striptags  }}</small> 
                                {% endif %}
                        {% endfor %}

                        <div class="d-flex flex-row justify-content-between mt-5">
                                <a href="{% url "users:login" %}" class="link-btn">Cancelar</a>
                                <input type="submit" value="Enviar" class="w-auto btn btn-primary w-150">
                        </div>
                </form>
        </div>
</main>
{% endblock content %}
