{% extends "base.html" %}
{% load static %}

{% block title %}Drunk Ninja - Profile{% endblock title %}

{% block head %}
        <link rel="stylesheet" href="{% static "css/profile.css" %}">
{% endblock head %}

{% block content %}
<main class="container p-5 profile-box position-relative my-5">
        <div class="banner-bg-fixed"></div>
        <div class="row justify-content-center">
                <div class="d-flex flex-row">
                        <a class="icon" href="/" title="Volver a la tienda">
                                <span class="icon-svg">
                                        <svg fill="#000000" viewBox="-8.5 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>left</title> <path d="M7.094 15.938l7.688 7.688-3.719 3.563-11.063-11.063 11.313-11.344 3.531 3.5z"></path> </g></svg>
                                </span>
                        </a>
                        <h1 class="m-0">Profile</h1>
                </div>

                <div class="row justify-content-center g-3">
                        <div class="avatar">
                                <img src="{% static "img/avatar.svg" %}" alt="avatar"/>
                        </div>

                        <a href="{% url "users:password_change" %}" class="text-align-center">Cambiar Contraseña</a>
                </div>

                <form method="post">
                        {% csrf_token %}
                        {% for field in user_form %}
                                <div class="mt-4">
                                        {{ field.label_tag }} 
                                        {{ field }}
                                        {% if field.errors %}
                                                <small class="error">{{ field.errors|striptags  }}</small> 
                                        {% endif %}
                                </div>
                        {% endfor %}

                        {% for field in profile_form %}
                                <div class="mt-4">
                                        {{ field.label_tag }} 
                                        {{ field }}
                                        {% if field.errors %}
                                                <small class="error">{{ field.errors|striptags  }}</small> 
                                        {% endif %}
                                </div>
                        {% endfor %}

                        <input type="submit" class="mt-5" value="Guardar Cambios"/>
                </form>
        </div>
</main>
{% endblock content %}
