{% extends "base.html" %}
{% load static %}

{% block title %}Drunk Ninja - Profile{% endblock title %}

{% block head %}
        <link rel="stylesheet" href="{% static "css/profile.css" %}">
{% endblock head %}

{% block content %}

<header class="row mb-3">
        {% include "navbar.html" %}
</header>

<main class="container p-5 profile-box">
        <div class="row justify-content-center">
                <h1>Profile</h1>
                <div class="row justify-content-center g-3">
                        <div class="avatar">
                                <img src="{% static "img/avatar.svg" %}" alt="avatar"/>
                        </div>

                        <a href="{% url "users:password_change" %}" class="text-align-center">Cambiar Contraseña</a>
                </div>

                <form method="post">
                        {% csrf_token %}
                        {% for field in user_form %}
                                <div class="mt-4">
                                        {{ field.label_tag }} 
                                        {{ field }}
                                        {% if field.errors %}
                                                <small class="error">{{ field.errors|striptags  }}</small> 
                                        {% endif %}
                                </div>
                        {% endfor %}

                        {% for field in profile_form %}
                                <div class="mt-4">
                                        {{ field.label_tag }} 
                                        {{ field }}
                                        {% if field.errors %}
                                                <small class="error">{{ field.errors|striptags  }}</small> 
                                        {% endif %}
                                </div>
                        {% endfor %}

                        <input type="submit" class="mt-5" value="Guardar Cambios"/>
                </form>
        </div>
</main>
{% endblock content %}
