{% extends "base.html" %}

{% block title %}Drunk Ninja - Registro{% endblock %}

{% block content %}
<main class="container">
        <div class="row">
                <div class="col-lg-5 col-md-12 banner-bg position-relative"></div>

                <div class="glass-container col-lg-7 col-md-12">
                        <form class="row gy-4 p-5" method="post">
                                <h2 class="text-align-center mt-3">Registrate</h2>

                                {% csrf_token %}
                                {{ form.as_p }}

                                <div>
                                        <input type="submit" value="Registrarse">
                                </div>
                        </form>
                </div>
        </div>
</main>
{% endblock %}

{% block script %}
<script type="module">
        import {validatePassword, validateAgeByDate} from "/js/validationUtils.js";

        const birthdateInput = document.getElementById("birthdate");
        const passwordInput = document.getElementById("password");
        const confirmPasswordInput = document.getElementById("confirm-password");

        passwordInput.addEventListener("blur", function () {
                const pass = this.value;

                this.setCustomValidity(validatePassword(pass));
        });

        confirmPasswordInput.addEventListener("blur", function () {
                const pass = passwordInput.value;
                const confirmPass = this.value;

                if (confirmPass !== pass) {
                        this.setCustomValidity("Las contraseñas no coinciden.");
                } else {
                        this.setCustomValidity("");
                }
        });

        birthdateInput.addEventListener("input", function () {
                const selectedDate = new Date(this.value);
                const minAge = 18;

                this.setCustomValidity(validateAgeByDate(minAge, selectedDate));
        });
</script>
{% endblock %}
