{% extends "base.html" %}

{% block title %}Drunk Ninja - Registro{% endblock title %}

{% block head %}
<style>
        .errorlist {
                list-style: none;
        }

        .error-container {
                padding: 1rem;
                text-align: center;
        }
</style>
{% endblock head %}

{% block content %}
<main class="container">
        <div class="row">
                <div class="col-lg-5 col-md-12 banner-bg position-relative"></div>

                <div class="glass-container col-lg-7 col-md-12">
                        <form class="row gy-4 p-5" method="post">
                                <h2 class="text-align-center mt-3">Registrate</h2>

                                {% csrf_token %}
                                {% if form.non_field_errors %}
                                <div class="error">
                                        {{ form.non_field_errors.as_ul }}
                                </div>
                                {% endif %}

                                <div>
                                        {{ form.username.label_tag }} {{ form.username }}
                                        {% if form.username.errors %}
                                        <div class="error">
                                                {{ form.username.errors.as_ul }}
                                        </div>
                                        {% endif %}
                                </div>

                                <div>
                                        {{ form.email.label_tag }} {{ form.email }}
                                        {% if form.email.errors %}
                                        <div class="error">
                                                {{ form.email.errors.as_ul }}
                                        </div>
                                        {% endif %}
                                </div>

                                <div>
                                        {{ form.password1.label_tag }} {{ form.password1 }}
                                        {% if form.password1.errors %}
                                        <div class="error">
                                                {{ form.password1.errors.as_ul }}
                                        </div>
                                        {% endif %}
                                </div>

                                <div>
                                        {{ form.password2.label_tag }} {{ form.password2 }}
                                        {% if form.password2.errors %}
                                        <div class="error">
                                                {{ form.password2.errors.as_ul }}
                                        </div>
                                        {% endif %}
                                </div>

                                <div>
                                        {{ form.shipping_address.label_tag }} {{ form.shipping_address }}
                                        {% if form.shipping_address.errors %}
                                        <div class="error">
                                                {{ form.shipping_address.errors.as_ul }}
                                        </div>
                                        {% endif %}
                                </div>

                                <div>
                                        {{ form.date_of_birth.label_tag }} {{ form.date_of_birth }}
                                        {% if form.date_of_birth.errors %}
                                        <div class="error">
                                                {{ form.date_of_birth.errors.as_ul }}
                                        </div>
                                        {% endif %}
                                </div>


                                <input type="submit" value="Registrarse">
                        </form>
                </div>
        </div>
</main>
{% endblock content %}
